{% extends "base.html" %}

{% block titile %}
<title>About Us..</title>
{% endblock titile %}

{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Anand Welcomes to You!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Hello How Are You!</p>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <center>
            <div class="col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet leo massa. Duis nec dignissim est, vitae consequat libero. Aliquam non venenatis dui. Integer ultricies convallis metus, ac maximus sem tempus sit amet. Nulla non volutpat mi. Pellentesque molestie ipsum vel nisl accumsan egestas. Ut ultricies odio eu turpis tincidunt molestie. Integer eget mauris eu ligula aliquet cursus.

Nulla facilisi. Ut efficitur vitae quam ut sodales. Nulla lobortis sollicitudin libero non luctus. Integer sed enim luctus, ultrices nunc at, commodo massa. Donec efficitur velit sagittis lacus fringilla dapibus. Aenean ornare tristique rutrum. Ut elementum accumsan libero eget aliquet. Nullam eget lacus dignissim, ultrices nisi vel, lacinia enim. Nunc sit amet luctus orci, vel posuere erat. Maecenas sodales est nec ante euismod sodales. In hac habitasse platea dictumst.

Duis at nisi sed lacus porta vehicula. Sed pulvinar cursus ipsum, at blandit turpis fermentum vel. Nunc id lacus eu ligula consequat viverra ac hendrerit ligula. Mauris tempor magna elit, id hendrerit tortor feugiat ac. Praesent commodo tortor eget sagittis varius. Pellentesque feugiat sem ut facilisis sollicitudin. Sed hendrerit gravida lacus, eget aliquam sapien pretium ut. Nam neque massa, egestas in dolor id, efficitur varius ex. Ut non tempus ante. Nunc quis finibus magna, a elementum velit. Phasellus varius felis quis risus convallis, vitae posuere ipsum dignissim.

Suspendisse et eleifend lacus. Integer orci lacus, cursus scelerisque finibus ut, ultrices nec nunc. Praesent sodales eu ipsum eget maximus. Curabitur tincidunt eleifend arcu nec commodo. Pellentesque malesuada dolor id tempus vestibulum. Donec sed massa mi. Vestibulum sodales elit sem, in mattis justo consequat ac. Duis pulvinar velit magna, id interdum nisl pharetra a.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et nisl id arcu congue ullamcorper. Ut lacus mauris, dapibus sit amet lorem a, ultrices accumsan erat. Suspendisse convallis augue turpis, eget efficitur justo faucibus id. Nam rhoncus ipsum eget mattis elementum. Cras nec risus vitae eros imperdiet ornare at ut diam. Etiam aliquet lorem id scelerisque pulvinar. In ullamcorper ex a gravida convallis.

Generated 5 paragraphs, 337 words, 2280 bytes of Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vero voluptate consectetur recusandae, voluptas consequuntur. Obcaecati nulla eos ipsum quos eius qui impedit, fuga repellat labore voluptas assumenda quam dolorum.
            </div>
        </center>
    </div>
</div>

{% endblock content %}